<!-- begin_form.hbs | landing page -->

<div class="title_container card text-center mx-auto p-2">
    <form id="log_form" method="POST" action="/create">

        <div class="form_div mb-3">
            <label class='form_label' for='form_title'>Log Title</label><br>
            <input class='form-control form_input' id='form_title' type='text' name='title' placeholder='Experience Title'/>
        </div>

        <div class="form_div mb-3">
            <label class='form_label' for='form_desc'>Description</label><br>
            <input class='form-control form_input' id='form_desc' type='text' name='desc' placeholder='Any extra info?'/>
        </div>
        <br>

        <div class="form_div mb-2 d-block pretty p-switch p-fill d-flex flex-row justify-content-center">
            <input type="checkbox" id="currently_tripping_check" name="tripping" onclick='showDoses()'/>
            <div class="state p-success mb-2">
                <label>Click here if you're currently dosed! (You can add doses later)</label>
            </div>
        </div>

    <div id="dose_wrapper" style="display: none;">
        <div class="m-2" style="display: block;">
            <span id="dose_title" class="dose_label m-2">Dose</span>
            <i class="far fa-plus-square add_dose" onclick="addDose()"></i>
        </div>
    </div>

        <button type='submit' class='btn btn-success mt-2'>Begin!</button>
    </form>
</div>

<script src="js/drug_list.js"></script>
